body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: rgb(10, 140, 216);
    grid-column: span 1;
    grid-row: span 2;
    font-size: 20px;
    color: white;
    display: grid;
    grid-template-rows: 50px 200px 100px 0;
    gap: 30px;
}

.sidebar li {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 12px;
}

.sidebar ul img {
    width: 20px;
    height: 20px;
}

.sidebar .dashboard img {
    width: 30px;
    height: 30px;
}

.dashboard {
    padding-left: 15px;
    font-size: 30px;
    justify-self: start;
}



.header {
    background-color: white;
    color: black;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header img {
    width: 20px;
    height: 20px;
}

.header .search-bar {
    display: grid;
    grid-template-columns: 24px 550px 0;
    grid-template-rows: 24px;
    padding-left: 30px;
    align-self: center;
}

.header .profile-card {
    display: grid;
    grid-template-columns: repeat(3, 25px);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.profile-name {
    white-space: nowrap;
    margin: 0;
}

.header .menu {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: lightblue;
    border-radius: 10px;
}

.header .greeting {
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    padding-left: 20px;
}

.greeting img {
    width: 50px;
    height: 50px;
}

h1 {
    margin: 0;
    text-wrap: 20px;
}

.main-content {
    background-color: gray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}

.card{
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 10px;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    padding: 20px;
}

.announcements {
    display: grid;
    grid-template-columns: 275px;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    justify-content: center;
    padding: 10px;
}


li {
    list-style-type: none;
}
li + li{
    margin: 12px 0;
}

