body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: red;
    grid-column: span 1;
    grid-row: span 2;
}

.header {
    background-color: blue;
    grid-column: 2 / 3;
    /* grid-row: span 1; */
}

.main-content {
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box {
    height: 200px;
    width: 200px;
    border: 5px solid black;
}